@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: sans-serif;
  --font-geist-mono: monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
